In [2]:
import pandas as pd
import numpy as np

In [66]:
# 10; 25; 30; 40; 41; 42; 50; 55; 70; 101; 110; 111
data = [1,2,2,5, 6, 8, 17, 18, 22, 25, 30, 35, 36, 40, 41];
sData = pd.Series(data)

In [74]:
describe = sData.describe()
print(describe)
count = describe['count']
print(count)

count    15.000000
mean     19.200000
std      14.707627
min       1.000000
25%       5.500000
50%      18.000000
75%      32.500000
max      41.000000
dtype: float64
15.0
5.5

In [75]:
count = describe['count']

Q1 = describe['25%']
Q3 = describe['75%']

# Amplitude des données qui se trouvent dans la boite
print(Q3 - Q1)

27.0

In [38]:
# 10, 25, 30,    10, 25, 30, 40, 41, 42, 50     10, 25, 30, 40, 41, 42, 50, 55, 70,

In [87]:
data_02 = [1,2 ,2 ,5 , 6, 8, 17, 18, 22, 25, 30, 35]
sData_02 = pd.Series(data_02)
describe = sData_02.describe()

Q1 = describe['25%']
Q3 = describe['75%']

# Amplitude des données qui se trouvent dans la boite
print(Q3 - Q1)

18.5

In [88]:
data_03 = [1,2 ,2 ,5 , 6, 8, 17, 18, 22, 25, 30, 35, 36, 40, 41]
sData_03 = pd.Series(data_03)
describe = sData_03.describe()

print(describe)

count    15.000000
mean     19.200000
std      14.707627
min       1.000000
25%       5.500000
50%      18.000000
75%      32.500000
max      41.000000
dtype: float64

In [95]:
data_04 = [1,2,2,5, 6, 15, 17, 18, 22, 25, 30, 35, 36, 40, 41, 50, 89]

sData_04 = pd.Series(data_04)
describe = sData_04.describe()

count = describe['count']
Q1 = describe['25%']
Q3 = describe['75%']
Me = describe['50%']

print(Q1, Q3, Me)

6.0 36.0 22.0

In [99]:
print(count/4)
print(count)
describe

4.25
17.0

count    17.000000
mean     25.529412
std      22.444703
min       1.000000
25%       6.000000
50%      22.000000
75%      36.000000
max      89.000000
dtype: float64

In [100]:
print(21/2)

10.5